!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %b
      Hello 
      = @employee.name
    %p
      Today is your Birthday.So we wish you a very special birthday.
      %br/
    %p
      %p Thanks have a great day!
    %br
    %br
    %b
      HR Department
      %br
      VirtueInfo Web Solutions.

